<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>clsl</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/" />

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer.css" rel="stylesheet" />
</head>

<body>
    <!-- Begin page content -->
    <main role="main" class="container">
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.6/lib/darkmode-js.min.js"></script>
        <script>
            var options = {
                label: "🌓",
            };
            new Darkmode(options).showWidget();
        </script>

        <h1 class="mt-5">clsl</h1>
        <p class="lead">Get your api-key here:</p>
        <br />
        <div class="btn-group">
            <a href="/login" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Log In</a>
            <a href="/signup" class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Sign Up</a>
        </div>
    </main>

    <!-- <footer class="footer">
      <div class="container">
        <span class="text-muted">michaelpeterswa 2020</span>
      </div>
    </footer> -->
</body>

</html>